@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    background: rgb(184, 194, 210);
    background: radial-gradient(circle, rgba(184, 194, 210, 0.958420868347339) 0%, rgba(184, 204, 235, 1) 100%);
   
}

body * {
    box-sizing: border-box;
}


.logo {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.logo>h1 {
    color: #008044;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 10rem;

}

.botoes {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.btn_ano {

    background-color: #008044;
    width: 15vw;
    height: 10vh;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(210, 228, 244);
    border-radius: 15px;

}


@media only screen and (max-width: 1400px) {
    .logo>h1 {
        font-size: 8rem;
    }


    .btn_ano {
        display: flex;
        width: 50vw;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 950px) {
    .logo>h1 {
        font-size: 7rem;
    }

    .btn_ano {
        display: flex;
        width: 50vw;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {

    .logo>h1 {
        font-size: 5rem;
        left: 10%;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        width: 100vw;

    }

    .btn_ano {
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 50vw;
        align-items: center;
        justify-content: center;
    }

}